name: Build_gym

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: build
      run: gcc workflow.c -o workflow.exe
    - name: Run
      run: .\workflow.exe
       
